.Section{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: section;
    height: 100%;
    background-color: rgba(34, 8, 148, 0.3);
    color: white;
    ul,li{
      padding: 0px;
      list-style: none;
      margin-top: 20px;
    }
  }
  .activeLink{
    color:white;
  }